---
import Base from "../layouts/Base.astro";
import CardTest from "../components/CardTest.astro";
import Columns from "../components/Columns.astro";
import Card from "../components/Card.astro";
import HeroImage from "../components/HeroImage.astro";
import Checkmark from "../components/Checkmark.astro";
import ServiceImgPattern from "../components/ServiceImgPattern.astro";
import HeadingPill from "../components/HeadingPill.astro";
import Titlep from "../components/Titlep.astro";
import TemporaryContainer from "../components/TemporaryContainer.astro";
import Brand from "../components/Brand.astro";
import ServiceScrolling from "../components/ServiceScrolling.astro";
import Button from "../components/Button.astro";
import ServiceVideoPattern from "../components/ServiceVideoPattern.astro";
import TeamContainer from "../components/TeamContainer.astro";
import { Icon } from "astro-icon/components";
---

<Base>
  <section class="full">
    <HeroImage img="../images/service-hero.jpg" />
  </section>
  <section class="full">
    <div>
      <Icon name="coloredchart" />
      <Titlep bigtitle="Financial Projections" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
    </div>
    <!-- <Columns cols="4">
      <CardTest title="Creative Ideas" variant="primary" />
      <CardTest title="Best Features" variant="secondary" />
      <CardTest title="Experience" variant="primary" />
      <CardTest title="Easy Solutions" variant="secondary" />
    </Columns> -->

    <ServiceScrolling />
  </section>
  <section style="margin-top: 4rem;">
    <Columns cols="2">
      <ServiceImgPattern />
      <div>
        <HeadingPill title="WE'LL WORK WITH YOU" variant="primary" />
        <Titlep bigtitle="What To Expect" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
        <Checkmark />
      </div>
    </Columns>
    <Brand />
  </section>

  <section>
    <HeadingPill title="Our History" variant="secondary" />
    <Titlep bigtitle="Turn your ideas into reality." text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements." />
    <ServiceVideoPattern />
  </section>
  <section>
    <HeadingPill title="Our team" variant="primary" />
    <Titlep bigtitle="We champion the bold to achieve the extraordinary" text="Ippsum is the result of synergy between our teams and our customers. Our company culture is focused on excellent productivity, customer satisfaction, respect for team and individual achievements." />
    <TeamContainer />
  </section>
  <section style="margin-bottom: 8rem;">
    <TemporaryContainer img="../images/temporary2.jpg" />
  </section>
</Base>

<style>
  section {
    display: grid;
    grid:
      auto /
      [full-start] 1fr
      [content] minmax(0, var(--content-width))
      1fr [full-end];
    gap: 6rem 4rem;

    > * {
      grid-column: content;
    }

    .full {
      grid-column: full;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
    }

    .text-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    [data-icon="coloredchart"] {
      width: 6.58675rem;
      height: 4.44144rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.375rem;
      margin-bottom: 1.375rem;
    }
  }
</style>
