---
import "../styles/global.css";
import "../styles/reset.css";
---

<ul>
  <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
  <li>Ducimus velit consequatur ipsam id omnis vel blanditiis</li>
</ul>

<style>
  ul {
    display: grid;
    gap: 1rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #595566;
  }

  li:before {
    content: "";
    flex-shrink: 0;
    width: 1.6rem;
    aspect-ratio: 1;
    background: var(--checkmark-icon) 50% 50% / contain no-repeat;
  }
</style>
