<h2>SERVICES</h2>

<style>
  h2 {
    padding: 0rem 0.9375rem;
    border-radius: 1.25rem;
    background: #ffcc4a;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.625rem;
  }
</style>
