---
import "../styles/global.css";
import "../styles/reset.css";
---

<section class="container">
  <div class="hero-image">
    <img src="../images/heroimage.jpg" alt="hero image" />
  </div>
  <style>
    .container {
      width: 100%;
      overflow: hidden;
    }

    .hero-image {
      height: 100%;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: -1;
    }
  </style>
</section>
