<dl>
  <div>
    <dt>Team members</dt>
    <dd>908+</dd>
  </div>
  <div>
    <dt>Happy customers</dt>
    <dd>258+</dd>
  </div>
  <div>
    <dt>Team members</dt>
    <dd>908+</dd>
  </div>
  <div>
    <dt>Happy customers</dt>
    <dd>258+</dd>
  </div>
</dl>

<style>
  dl {
    display: flex;
    width: 55.9375rem;
    justify-content: center;
    align-items: flex-start;
    gap: 8.4375rem;
  }

  dt {
    color: #181818;
    font-family: Cabin;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.305rem; /* 1.305rem */
    order: 1; /* Ensure the dt comes after dd */
  }

  dd {
    color: #181818;
    font-family: Cabin;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.625rem; /* 3.625rem */
    order: 0; /* Ensure the dd comes before dt */
  }
</style>
